
body, html {

  --black: #333;
  --lessblack: rgb(80, 80, 80);
  --gray: rgb(253, 253, 253);
  --darkgray: rgb(228, 228, 233);
  --red: #F15025;
  --green: green;
  --darkblue: #4062BB;

  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  background-color: var(--gray);
  color: var(--black);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  flex: 1;
}

h1 {
  font-weight: 600;
  font-size: 26px;
  width: 100%;
}

hr {
  border: none;
  background-color: var(--darkgray);
  height: 1px;
  margin-top: 5px;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  color: var(--darkblue);
}

a:hover {
  text-decoration: underline;
}

button {
  padding: 7px;
  border: solid 1px var(--darkgray);
  font-size: 14px;
  border-radius: 3px;
  outline: none;
  background-color: white;
}

button:hover {
  cursor: pointer;
  filter: brightness(99%);
}

button:active {
  filter: brightness(97%);
}

i {
  color: var(--lessblack);
}

[contenteditable=true]:empty:before {
  content: attr(placeholder);
  display: block;
  color: rgb(177, 177, 177);
}

.text {
  background-color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  padding: 7px;
  border: solid 1px var(--darkgray);
  border-radius: 3px;
  outline: none;
  color: var(--black);
  overflow: hidden;
  width: 100%;
  max-height: 32px;
}

.text:focus {
  border-color: var(--darkblue);
  transition-duration: 0.25s;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);
}

.line:hover {
  cursor: pointer;
  color: var(--red);
}

.text br {
  display: none;
}

.plain {
  white-space: pre;
}

.highlight {
  color: var(--darkblue);
}

.indicator {
  font-size: 14px;
  margin-right: 10px;
  color: var(--lessblack);
}

.indicatorIcon {
  color: inherit;
}

.valid {
  color: var(--green);
}

.invalid {
  color: var(--red);
}

.colFlex {
    width: 100%;
    flex-direction: column;
}

.line:hover {
  color: var(--red);
  text-decoration: line-through;
}

#window {
  margin-top: 100px;
  margin-bottom: 300px;
  min-width: 325px;
  max-width: 500px;
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
  flex: 1;
}

#events {
  max-height: 300px;
  overflow: scroll;
  overflow-x: hidden;

}

#saveMenu {
  margin-top: 20px;
  width: 100%;
}

#statusMenu {
  margin-top: 10px;
  width: 100%;
  display: flex;
}